<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coding Challange</title>
  </head>
  <body>
    <h3><%= aboutMe.techstackQuestion %></h3>
    <p><%= aboutMe.techstackAnswer %></p>
  </body>
</html>
